@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #666;
  font-family: sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

main {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > article {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* main > article > button {
  align-content: center;
  justify-content: center;
}

main > article > h2 {
  text-align: center;
  color: #777;
  margin-bottom: 1.5em;
} */

ul {
  list-style-type: none;
}

.image-container {
  height: 40vh;
  display: flex;
  justify-content: center;
}

#hangman {
  /* border: 1px solid #666; */
  object-fit: cover;
  max-width: 100%;

  /* width: 800px; */
}

#start {
  align-content: center;
  justify-content: center;
  font-size: 1.2em;
  width: 250px;
  background: transparent;
  border: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

#start:hover {
  background-color: inherit;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

#start:disabled {
  background-color: inherit;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

#gameBoard {
  padding: 10px 0;
}

#letterButtons {
  display: inline-flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
}

.info-container {
  display: flex;
  flex-direction: space-between;
}

.letterBoxes {
  display: flex;
  flex-direction: row;
}

#word {
  display: flex;
  justify-content: center;
}

#word li {
  /* border: 1px solid #666; */
  color: rgb(255, 255, 255);
  /* border: 1px solid red; */
  font-size: 3em;
  font-weight: bolder;
  line-height: 2em;
  /* margin: 6px 22px 6px 22px; */
  padding: 26px 20px 6px 20px;
  text-align: center;
  /* width: 2em; */
}

#grunt {
  height: 100px;
}

#message {
  padding: 20px 0 0 20px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  /* transition: opacity 4s ease-in; */
}

.btn {
  /* -moz-user-select: text; */
  /* background-color: #fff; */
  background: transparent;
  border-radius: 6px;
  border: 0;
  /* border: 2px solid #666; */
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 20px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe:disabled {
  background: transparent;
  color: transparent;
  border-color: rgb(0, 0, 0);
}

.btn--stripe:hover {
  background: transparent;
  color: transparent;
  border-color: #000;
  transition: all 0.3s ease-out;
}

.btn--stripe:disabled:after,
.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}
