@charset "UTF-8";

@keyframes fadeBackGround {
  from {
    background-color: #000000;
  }
  50% {
    background-color: #d61414;
  }

  to {
    background-color: #000000;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
  /* display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
}

ul {
  list-style-type: none;
}

.image-container {
  height: 40vh;
  display: flex;
  justify-content: center;
}

#hangman {
  object-fit: cover;
  max-width: 80%;
}

.letterBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#grunt {
  height: 100px;
  margin-left: 20px;
  position: relative;
  left: 0;
}

#message {
  padding: 20px 0 10px 20px;
  font-size: 1em;
  position: relative;
  color: rgb(255, 255, 255);
  transition: opacity 4s ease-in;
}

#start {
  align-content: center;
  justify-content: center;
  position: relative;
  top: -200px;
  font-size: 1.5em;
  width: 250px;
  background: transparent;
  border: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

#start:hover {
  background-color: inherit;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

#start:disabled {
  background-color: inherit;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}

#gameBoard {
  position: relative;
  top: -100px;
}

#letterButtons {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  max-width: 84px;
  min-width: 84px;
}

#word {
  display: flex;
  justify-content: center;
  position: relative;
  top: -160px;
  color: #fd287e;
}

#word li {
  color: #fd287e;
  font-size: 3em;
  font-weight: bolder;
  padding: 26px 20px 6px 20px;
}

.btn {
  background: transparent;
  border-radius: 6px;
  border: 0;
  color: rgb(255, 255, 255);
  cursor: pointer;
  /* display: block; */
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  /* overflow: visible; */
  padding: 0;
  padding: 16px 20px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--stripe:disabled {
  background: transparent;
  color: transparent;
}

.btn--stripe:hover {
  background: transparent;
  color: transparent;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 414px) {
  #message {
    /* padding: 20px 0 10px 20px; */
    font-size: 3em;
  }

  .btn--stripe {
    font-size: 3em;
  }
}
